body{
	margin: 0 auto;
	background: #ccc;
	text-align: center;
	font-family: Tahoma;
}

img{
	display: inline-block;
	width: 150px;
	height: 100px;
}

.gallery{
	border: solid 4px;
	width: 620px;
	margin: 0 auto;
	padding: 3px 0 1px 0;
	-webkit-border-radius: 10px;
}
